.banner-section {
  height: 100vh;
  .admin-bar & {
    height: calc(100vh - #{$wp-admin-bar-height-desktop}) !important;
    @media (max-width: $wp-admin-screen-md-max) {
      height: calc(100vh - #{$wp-admin-bar-height-mobile}) !important;
    }
  }
  .banner-content,
  .banner-slide-item-wrapper,
  .banner-slide-item,
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide > div {
    height: 100%;
  }
  .slick-prev,
  .slick-next,
  .slick-dots {
    z-index: 10;
  }
  .slick-next,
  .slick-prev {
    display: none !important;
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  .slick-next {
    right: 60px;
  }
  .slick-prev {
    left: 60px;
  }
  .slick-dots {
    bottom: 0;
  }
  .banner-slide-item {
    align-items: center;
    display: flex;
    justify-content: center;
    .banner-text {
      color: #fff;
      font-family: $font-family-lemon-bird;
      font-size: 80px;
      position: relative;
      text-shadow: 1px 1px 13px $color-dusty-gray;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        font-size: 40px;
      }
    }
  }
}
