html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $font-family-roboto;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
#wpadminbar {
  @media (max-width: $wp-admin-screen-xs-max) {
    position: fixed;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
}
section[class*=-section] {
  padding: 30px 0;
  position: relative;
}
.vertical-align-middle {
  align-items: center;
  display: flex;
}
